<!DOCTYPE html>
<html dir="ltr">
  <head>
    <%- include (includes("head")); %>
    <script type="text/javascript">
    function submit() {
      if($("#name").val().trim() == "") { alert("동아리명이 빈칸일 수 없습니다!"); return; }
      if($("#detail").val().trim() == "") { alert("동아리 설명이 없을 수 없습니다!"); return; }

      $("#post_write_form").submit();
    }
    </script>
  </head>
  <body id="target" class="pt-5 pb-5">
    <%- include (includes("header")) %>
    <div class="container pt-5 ml-auto mr-auto">
      <div class="row pt-3">
        <input type="button" class="col-xs-3 btn btn-block btn-secondary" onclick="location.href='/create2'" value="파일로 생성" />
        <form class="ml-auto mr-auto pt-2" name="application_create_form" id="application_create_form" role="form" method="POST" action="/create">
          <input type="hidden" name="_csrf" value="<%= csrf %>" />
          <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">동아리명</label>
            <input type="text" class="col-sm-8 form-control" name="name" id="name" placeholder="동아리명" required />
          </div>
          <div class="form-group row">
            <textarea id="detail" name="detail" class="form-control" placeholder="동아리 설명" required></textarea>
          </div>
          <div class="form-group row">
            <label for="endDate" class="col-sm-5 col-form-label">마감 시각</label>
            <input type="date" class="col-sm-auto form-control" name="endDate" id="endDate" required />
            <input type="time" class="col-sm-auto form-control" name="endTime" id="endTime" required />
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-5 col-form-label">최소 인원</label>
            <input type="number" class="col-sm-auto form-control" name="minimal" id="minimal" placeholder="최소 인원" min="1" required />
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-5 col-form-label">최대 인원</label>
            <input type="number" class="col-sm-auto form-control" name="maximal" id="maximal" placeholder="최대 인원" min="1" required />
          </div>
          <div class="form-group row">
            <label for="grade1" class="col-sm-5 col-form-label">1학년만</label>
            <input type="checkbox" class="col-sm-auto form-control" name="grade1" id="grade1" />
            <label for="grade2" class="col-sm-5 col-form-label">2학년만</label>
            <input type="checkbox" class="col-sm-auto form-control" name="grade2" id="grade2" />
            <label for="grade3" class="col-sm-5 col-form-label">3학년만</label>
            <input type="checkbox" class="col-sm-auto form-control" name="grade3" id="grade3" />
          </div>
          <div class="form-group text-center col-xs-auto">
            <input type="button" onclick="submit();" class="btn btn-primary" name="submitButton" value="생성" />
          </div>
        </form>
      </div>
    </div>
    <%- include (includes("modal")) %>
    <%- include (includes("footer")) %>
  </body>
  <%- include (includes("foot")); %>
</html>
