<!DOCTYPE html>
<html dir="ltr">
  <head>
    <%- include ("./includes/head"); %>
  </head>
  <body id="target" class="pt-5">
    <%- include ("./includes/header") %>
    <div class="container pt-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-auto">소담고등학교 교과 동아리 신청</div>
        </div>
        <div class="row">
          <div class="col-xs-auto">본 시스템은 법원 전자 처리 시스템과 정무청 전자 등기부의 모듈화된 NodeJS 서버를 기반으로 구축함. - ☆김민성</div>
        </div>
        <div class="row">
          <div class="col-xs-auto">이런 거 만드는 게 초딩 때 꿈이었는데, 이제 이루었으니 다음엔 이런 거 얄짤없음. 안 만듦.</div>
        </div>
      </div>
    </div>
    <%- include (includes("modal")) %>
    <%- include ("./includes/footer") %>
  </body>
  <%- include ("./includes/foot"); %>
</html>
