<!DOCTYPE html>
<html dir="ltr">
  <head>
    <%- include (includes("head")); %>
    <script src="/scripts/sha512.min.js" charset="utf-8"></script>
    <script src="/scripts/credentials.js" charset="utf-8"></script>
  </head>
  <body id="target" class="pt-5">
    <%- include (includes("header")) %>
    <div class="container pt-3">
      <div class="row">
        <div class="ml-auto mr-auto pt-5">
          <form name="changeForm" id="changeForm" role="form" method="post" action="/user/password">
            <div class="text-center mb-4">
              <h1 class="h3 __contextTitle">계정 비밀번호 변경</h1>
            </div>
            <div class="form-group pt-1">
                <input id="currentF" name="currentF" class="form-control" type="password" placeholder="현재 비밀번호" onkeyup="enterkey()" required />
                <label for="currentF" class="sr-only">password</label>
              </div>
            <div class="form-group pt-1">
              <input id="passwordF" name="passwordF" class="form-control" type="password" placeholder="변경 비밀번호" onkeyup="enterkey()" required />
              <label for="passwordF" class="sr-only">password</label>
            </div>
            <input type="hidden" name="current" id="current" value="" />
            <input type="hidden" name="password" id="password" value="" />
            <input type="hidden" name="_csrf" value="<%= csrf %>" />
            <div class="pt-5">
            <button class="btn btn-lg btn-primary btn-block" type="button" onclick="change()">변경</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include (includes("modal")) %>
    <%- include (includes("footer")) %>
  </body>
  <%- include (includes("foot")); %>
</html>
